<div class="container">
    <div class="row">
        <% nama= 'Muhammad Eka Saputra' %>
        <div class="text-center" style="margin-top: 13%;">
            <!-- <img src="/eka.jpg" alt="mana" width="300px" class="rounded-circle"> -->
           <h1 class="display-4">Hi, <%= nama %> </h1> 
           <marquee width="30%"><p class="lead">Welcome To Web Aplication Contact.</p></marquee>
    </div>
    </div>
</div>
